<!-- vi: set ft=html: -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/index.css"/>
    <link rel="shortcut icon" href="assets/favicon.png" type="image/png" />
  </head>
  <body>
    <div id="logo"></div>
    <header>
      <div>
        <h1>{{title}}</h1>
        <div class="subtitle">{{subtitle}}</div>
      </div>
      <div class="radio">
        <div id="tuner" class="tuner"></div>
        <div>
          Listen or
          <a href="https://radio.zenhob.com/public/1/playlist.m3u">use your own player</a>
        </div>
      </div>
    </header>
    <main>
      <article>
        {{content | safe}}
      </article>
    </main>
    <script type="module" src="/_dist_/index.js"></script>
  </body>
</html>
