@font-face {
  font-family: 'komika_display';
  src: url('/assets/Komika_display-webfont.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'lsb';
  src: url('/assets/LeagueSpartan-Bold.otf') format('opentype');
  font-style: bold;
}

:root {
  --link-color: #ff93c6;
  --header-color: #3c4856;
  --bg-color: #a0acbd;
  --text-color: #ffffff;
  --item-color: #a55376;
  --item-gradient-color: #a24;
  --item-text-color: #fcd;
  --shadow-color: #124;
  --margin: 90px;
  --gutter-size: 24px;
  --font: "Open Sans", sans-serif;
  --header-font: "lsb", "Open Sans", sans-serif;
}
* { margin: 0; padding: 0; }
body {
  font-family: var(--font);
  color: var(--text-color);
  background: linear-gradient(220deg, var(--shadow-color), var(--bg-color));
  font-size: 18px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  padding: var(--gutter-size) var(--margin);
  padding-right: calc(var(--margin) - var(--gutter-size));
}
a:link, a:visited, a:active {
  color: var(--link-color);
  text-decoration: none;
}
a:link:focus, a:visited:focus, a:active:focus {
  outline: none;
  border-bottom: 1px dotted white;
}
header {
  background: linear-gradient(200deg, var(--item-gradient-color), var(--item-color));
  padding: var(--gutter-size) var(--margin);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 2px 6px var(--shadow-color);
  color: var(--item-text-color);
}
header h1 {
  font-family: var(--header-font);
  text-shadow: 1px 1px 1px var(--shadow-color);
  font-weight: bold;
  letter-spacing: 1.5;
  font-size: 36px;
  min-height: 52px;
}
#logo {
  position: fixed;
  left: 12px;
  top: var(--gutter-size);
  height: 64px;
  width: 64px;
  opacity: 0.7;
  background-image: url(/assets/hector.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.subtitle {
  font-weight: bold;
  text-shadow: 1px 1px 1px var(--shadow-color);
  margin-bottom: 1em;
  font-family: "lsb";
}

.radio {
  display: flex;
  font-family: 'lsb';
  align-items: flex-end;
  flex-direction: column;
  text-shadow: 0px 1px 3px #333;
  text-align: right;
  font-weight: 600;
}
.radio a:link, .radio a:visited {
  color: var(--link-color);
  text-decoration: underline;
}
.tuner {
  min-height: 52px;
}

article {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
article p {
  box-shadow: 2px 2px 2px var(--shadow-color);
  background: linear-gradient(0deg, var(--item-color), var(--item-gradient-color));
  border-radius: 1em;
  color: var(--item-text-color);
  padding: 2em;
  line-height: 1.5;
  flex: 1 0;
  margin-inline-end: var(--gutter-size);
  margin-block-end: var(--gutter-size);
  min-width: 128px;
  min-height: 100px;
  text-align: center;
  text-shadow: 0px 0px 2px var(--shadow-color);
}

@media (max-width: 600px) {
  .radio {
    align-items: center;
  }
  header {
    align-items: center;
    flex-direction: column;
  }
  header h1 , .subtitle {
    text-align: center;
    margin-bottom: 1ex;
  }
  article p {
    margin: 1em;
  }
  main {
    padding: 1ex;
    background-size: 75%;
  }
  #logo {
    height: 48px;
    width: 48px;
  }
}

