.playButton {
  display: flex;
  text-shadow: none;
  justify-content: space-around;
  align-items: center;
  font-size: 28px;
  width: 42px;
  height: 42px;
  border-radius: 42px;
  border: 2px solid;
  background: rgba(255,255,255,0.2);
  transition-property: opacity;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  opacity: 0.7;
}
.playButton:focus {
  outline: none;
  opacity: 0.9;
}

@keyframes loading {
    from {
      opacity: 0.8;
      width: 20px;
      height: 20px;
    }
    25% {
      opacity: 0.7;
      width: 25px;
      height: 25px;
    }
    50% {
      width: 20px;
      height: 20px;
    }
    85% {
      width: 30px;
      height: 30px;
    }
    to {
      opacity: 0.8;
      width: 20px;
      height: 20px;
    }
}
.loading {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    animation-name: loading;
    animation-duration: 0.48s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    background-color: white;
}

.play {
    transform: translate(2px);
    border: solid 14px transparent;
    border-left: solid 24px;
    border-right: 0px;
    border-left-color: white;
}
.pause {
    box-sizing: border-box;
    border-right: solid 8px;
    border-left: solid 8px;
    height: 20px;
    width: 20px;
    border-right-color: white;
    border-left-color: white;
}
